<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Count Point Game
    </ion-title>

    <ion-button size="small" slot="end" *ngIf="afAuth.auth.currentUser" (click)="signOut()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="afAuth.auth.currentUser">
  <h5>
    Welcome <strong>{{userName}} !</strong>
  </h5>
  <ion-label class="ion-text-center">CHOOSE YOUR GAME</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col (click)="onChooseTypeGame('1')" size="4">
        <ion-img src="./../../assets/tienlen.png"></ion-img>
        <ion-card-subtitle padding class="ion-text-center">TIEN LEN</ion-card-subtitle>
      </ion-col>
      <ion-col (click)="onChooseTypeGame('2')" size="4">
        <ion-img src="./../../assets/tienlen.png"></ion-img>
        <ion-card-subtitle padding class="ion-text-center">XI DACH</ion-card-subtitle>
      </ion-col>
      <ion-col (click)="onChooseTypeGame('3')" size="4">
        <ion-img src="./../../assets/tienlen.png"></ion-img>
        <ion-card-subtitle padding class="ion-text-center">DIEM</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="bookmark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>